<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>hotspot1trigger</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>hotspot2trigger</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>hotspot3trigger</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>hotspot4trigger</string>
					</dict>
				</array>
			</dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>amb_Scene_6_7_8_Sound.wav</string>
				<key>repeat</key>
				<true/>
				<key>volume</key>
				<real>0.2</real>
			</dict>
			<key>offsetY</key>
			<integer>50</integer>
			<key>popover</key>
			<string>Popover_Pirouette</string>
			<key>static</key>
			<dict>
				<key>background</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>p06_Main_BG</string>
					</dict>
				</array>
				<key>text</key>
				<dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{0,0},{0,0}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>interactiveTextPath</key>
						<string>$BUNDLE/scene6-en_us~iphone.plist</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>secondaryInteractiveTextPath</key>
						<string>$BUNDLE/scene6-secondary-en_us~iphone.plist</string>
						<key>size</key>
						<integer>21</integer>
						<key>text</key>
						<string></string>
						<key>z</key>
						<integer>80</integer>
					</dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{0,0},{0,0}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>interactiveTextPath</key>
						<string>$BUNDLE/scene6-en_us~iphone.plist</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>secondaryInteractiveTextPath</key>
						<string>$BUNDLE/scene6-secondary-en_us~iphone.plist</string>
						<key>size</key>
						<integer>21</integer>
						<key>text</key>
						<string></string>
						<key>z</key>
						<integer>80</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>p06_Main_BG</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>p06_Main_BG</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isMovie</key>
		<true/>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hotspot1</string>
		<key>source</key>
		<dict>
			<key>height</key>
			<integer>646</integer>
			<key>name_lang</key>
			<string>p06_Hotspot1</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>width</key>
			<integer>450</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>57</integer>
		</dict>
		<key>z</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>isMovie</key>
		<true/>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hotspot2</string>
		<key>source</key>
		<dict>
			<key>height</key>
			<integer>532</integer>
			<key>name</key>
			<string>p06_Hotspot2</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>width</key>
			<integer>406</integer>
			<key>x</key>
			<integer>215</integer>
			<key>y</key>
			<integer>151</integer>
		</dict>
		<key>z</key>
		<integer>81</integer>
	</dict>
	<dict>
		<key>isMovie</key>
		<true/>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hotspot3</string>
		<key>source</key>
		<dict>
			<key>height</key>
			<integer>514</integer>
			<key>name</key>
			<string>p06_Hotspot3</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>width</key>
			<integer>440</integer>
			<key>x</key>
			<integer>426</integer>
			<key>y</key>
			<integer>166</integer>
		</dict>
		<key>z</key>
		<integer>82</integer>
	</dict>
	<dict>
		<key>isMovie</key>
		<true/>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hotspot4</string>
		<key>source</key>
		<dict>
			<key>height</key>
			<integer>536</integer>
			<key>name</key>
			<string>p06_Hotspot4</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>width</key>
			<integer>362</integer>
			<key>x</key>
			<real>662.5</real>
			<key>y</key>
			<integer>138</integer>
		</dict>
		<key>z</key>
		<integer>83</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>hotspot1</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{51,182},{216,534}}</string>
		<key>name</key>
		<string>hotspot1trigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>hotspot2</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{270,187},{232,416}}</string>
		<key>name</key>
		<string>hotspot2trigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>97</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>hotspot3</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{531,183},{197,406}}</string>
		<key>name</key>
		<string>hotspot3trigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>95</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>hotspot4</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{739,186},{213,451}}</string>
		<key>name</key>
		<string>hotspot4trigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>93</integer>
	</dict>
</array>
</plist>
