<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>hotspot1trigger</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>hotspot2trigger</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>hotspot3trigger</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>hotspot4trigger</string>
					</dict>
				</array>
			</dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>offsetY</key>
			<integer>32</integer>
			<key>static</key>
			<dict>
				<key>background</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>p09_MainBG</string>
					</dict>
				</array>
				<key>text</key>
				<dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{0,0},{0,0}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>interactiveTextPath</key>
						<string>$BUNDLE/scene9-en_us~iphone.plist</string>
						<key>secondaryInteractiveTextPath</key>
						<string>$BUNDLE/scene9-secondary-en_us~iphone.plist</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>size</key>
						<integer>21</integer>
						<key>text</key>
						<string></string>
						<key>z</key>
						<integer>80</integer>
					</dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{0,0},{0,0}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>interactiveTextPath</key>
						<string>$BUNDLE/scene9-en_us~iphone.plist</string>
						<key>secondaryInteractiveTextPath</key>
						<string>$BUNDLE/scene9-secondary-en_us~iphone.plist</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>size</key>
						<integer>21</integer>
						<key>text</key>
						<string></string>
						<key>z</key>
						<integer>80</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>p09_MainBG</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>p09_MainBG</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isMovie</key>
		<true/>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hotspot1</string>
		<key>source</key>
		<dict>
			<key>height</key>
			<integer>390</integer>
			<key>name_lang</key>
			<string>p09_Hotspot1</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>width</key>
			<integer>274</integer>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>9</integer>
		</dict>
		<key>z</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>isMovie</key>
		<true/>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hotspot2</string>
		<key>source</key>
		<dict>
			<key>height</key>
			<integer>322</integer>
			<key>name</key>
			<string>p09_Hotspot2</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>width</key>
			<integer>294</integer>
			<key>x</key>
			<integer>444</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>isMovie</key>
		<true/>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hotspot3</string>
		<key>source</key>
		<dict>
			<key>height</key>
			<integer>478</integer>
			<key>name</key>
			<string>p09_Hotspot3</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>width</key>
			<integer>404</integer>
			<key>x</key>
			<integer>620</integer>
			<key>y</key>
			<integer>92</integer>
		</dict>
		<key>z</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>isMovie</key>
		<true/>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hotspot4</string>
		<key>source</key>
		<dict>
			<key>height</key>
			<integer>472</integer>
			<key>name</key>
			<string>p09_Hotspot4</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>width</key>
			<integer>634</integer>
			<key>x</key>
			<integer>390</integer>
			<key>y</key>
			<integer>296</integer>
		</dict>
		<key>z</key>
		<integer>13</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>hotspot1</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{107,369},{274,390}}</string>
		<key>name</key>
		<string>hotspot1trigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>35</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>hotspot2</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{444,446},{294,322}}</string>
		<key>name</key>
		<string>hotspot2trigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>hotspot3</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{620, 198},{404,478}}</string>
		<key>name</key>
		<string>hotspot3trigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>hotspot4</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{390,0},{634,472}}</string>
		<key>name</key>
		<string>hotspot4trigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>31</integer>
	</dict>
</array>
</plist>
