<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array/>
			</dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>offsetY</key>
			<integer>0</integer>
			<key>static</key>
			<dict>
				<key>background</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>p19bg</string>
					</dict>
				</array>
				<key>text</key>
				<dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{0,0},{0,0}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>interactiveTextPath</key>
						<string>$BUNDLE/scene19-en_us~iphone.plist</string>
						<key>secondaryInteractiveTextPath</key>
						<string>$BUNDLE/scene19-secondary-en_us~iphone.plist</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>size</key>
						<integer>21</integer>
						<key>text</key>
						<string></string>
						<key>z</key>
						<integer>80</integer>
					</dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{0,0},{0,0}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>interactiveTextPath</key>
						<string>$BUNDLE/scene19-en_us~iphone.plist</string>
						<key>secondaryInteractiveTextPath</key>
						<string>$BUNDLE/scene19-secondary-en_us~iphone.plist</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>size</key>
						<integer>21</integer>
						<key>text</key>
						<string></string>
						<key>z</key>
						<integer>80</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>p19bg</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>p19_Main_BG</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
