<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>offset</key>
	<dict>
		<key>bag.png</key>
		<string>{0,10}</string>
		<key>pink_slippers.png</key>
		<string>{2,0}</string>
		<key>poster.png</key>
		<string>{0,0}</string>
		<key>radio.png</key>
		<string>{1.5,5}</string>
		<key>silver_slippers.png</key>
		<string>{-1,5}</string>
		<key>star.png</key>
		<string>{0,0}</string>
		<key>tiara.png</key>
		<string>{1,6}</string>
	</dict>
	<key>scaling</key>
	<dict>
		<key>bag.png</key>
		<real>0.8</real>
		<key>pink_slippers.png</key>
		<real>0.8</real>
		<key>poster.png</key>
		<real>0.63</real>
		<key>radio.png</key>
		<real>0.88</real>
		<key>silver_slippers.png</key>
		<real>0.72</real>
		<key>star.png</key>
		<real>0.8</real>
		<key>tiara.png</key>
		<real>0.95</real>
	</dict>
	<key>thoughtbubble_offset</key>
	<dict>
		<key>bag.png</key>
		<string>{-10,5}</string>
		<key>pink_slippers.png</key>
		<string>{0,0}</string>
		<key>poster.png</key>
		<string>{-5,0}</string>
		<key>radio.png</key>
		<string>{-5,0}</string>
		<key>silver_slippers.png</key>
		<string>{-5,-3}</string>
		<key>star.png</key>
		<string>{0,0}</string>
		<key>tiara.png</key>
		<string>{-5,0}</string>
	</dict>
	<key>thoughtbubble_scaling</key>
	<dict>
		<key>bag.png</key>
		<real>0.9</real>
		<key>pink_slippers.png</key>
		<real>0.9</real>
		<key>poster.png</key>
		<real>0.765</real>
		<key>radio.png</key>
		<real>0.9</real>
		<key>silver_slippers.png</key>
		<real>0.765</real>
		<key>star.png</key>
		<real>0.9</real>
		<key>tiara.png</key>
		<real>1</real>
	</dict>
</dict>
</plist>
