<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Angelina_TimesAlmostUp</string>
	<string>Angelina_StepItUp</string>
	<string>Angelina_PopPopPop</string>
	<string>Angelina_GetPopping</string>
</array>
</plist>
