<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Angelina_YouCanDoItTryAgain</string>
	<string>Angelina_PracticeMakesPerfect</string>
	<string>Angelina_FollowYourToes</string>
	<string>Angelina_UhOhReachForTheStars</string>
</array>
</plist>
