<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Angelina_YoureAShiningStar</string>
	<string>Angelina_WellDone</string>
	<string>Angelina_Stupendous</string>
	<string>Angelina_ThatsSomeReallyTrulyAmazingPopping</string>
</array>
</plist>
