<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angelina</key>
	<string>{191,190}</string>
	<key>flowerbed</key>
	<string>{512,334}</string>
	<key>thoughtBubble</key>
	<string>{164,503}</string>
	<key>thoughtBubbleFlower</key>
	<string>{170,510}</string>
	<key>flowerbedPopY</key>
	<integer>50</integer>
</dict>
</plist>
