<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Angelina_PracticeMakesPerfect</string>
	<string>Angelina_UhOhReachForTheStars</string>
	<string>Angelina_ThatsOk</string>
	<string>Angelina_rememberonlythinkabout</string>
	<string></string>
	<string></string>
</array>
</plist>
