<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Angelina_YoureTheStarOfTheShow</string>
	<string>Angelina_YouWereBornToDance</string>
	<string>Angelina_ThatWasSoAmazing</string>
	<string>Angelina_YouReallyTakeCenterStage</string>
	<string>Angelina_ReallyTrulyWonderful</string>
	<string>Angelina_Brava</string>
	<string>Angelina_Bravo</string>
	<string>Angelina_absolutelypositivelybrilliant</string>
	<string>Angelina_excellentmoves</string>
	<string>Angelina_reallytrulystupendous</string>
	<string>Angelina_stolenthespotlight</string>
	<string>Angelina_youreamazing</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
</array>
</plist>
