<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0001_Pink1.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{840,340}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.583</real>
					<key>rotation</key>
					<integer>94</integer>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<real>0.583</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.542</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.167</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{778,350}</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0001_Pink1.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{86,338}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.167</real>
					<key>rotation</key>
					<real>-95.8</real>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<real>0.167</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.125</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>0.792</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{172,352}</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0001_Pink1.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{116,318}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>2.333</real>
					<key>rotation</key>
					<integer>94</integer>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<real>1.333</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>2.292</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.958</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{263,344}</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0002_DarkPink2.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{818,300}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>2.208</real>
					<key>rotation</key>
					<real>-136.8</real>
					<key>scale</key>
					<real>1.319</real>
					<key>startTime</key>
					<real>1.208</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>2.167</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.833</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{760,320}</string>
			<key>rotation</key>
			<real>-40.9</real>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0002_DarkPink2.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{180,480}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<integer>2</integer>
					<key>rotation</key>
					<integer>-203</integer>
					<key>scale</key>
					<real>0.783</real>
					<key>startTime</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.958</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.625</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{248,464}</string>
			<key>rotation</key>
			<real>-107.1</real>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0002_DarkPink2.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{114,480}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.208</real>
					<key>rotation</key>
					<integer>94</integer>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<real>0.208</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.167</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>0.833</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{196,460}</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0003_DarkPurple1.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{892,466}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.583</real>
					<key>rotation</key>
					<real>-112.5</real>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<real>0.583</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.542</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.208</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{816,450}</string>
			<key>rotation</key>
			<real>-16.7</real>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0003_DarkPurple1.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{114,462}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.917</real>
					<key>rotation</key>
					<real>-95.8</real>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<real>0.917</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.875</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.542</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{194,448}</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0004_Purple1.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{954,338}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.75</real>
					<key>rotation</key>
					<real>14.1</real>
					<key>scale</key>
					<real>0.845</real>
					<key>startTime</key>
					<real>0.75</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.708</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.375</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{866,348}</string>
			<key>rotation</key>
			<integer>-80</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0004_Purple1.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{278,324}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>2.125</real>
					<key>rotation</key>
					<real>-95.8</real>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<real>1.125</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>2.083</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.75</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{326,340}</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0005_Pink2.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{798,516}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<integer>2</integer>
					<key>rotation</key>
					<real>86.8</real>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.958</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.625</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{744,490}</string>
			<key>rotation</key>
			<real>-7.2</real>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0005_Pink2.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{542,312}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.5</real>
					<key>rotation</key>
					<real>-95.8</real>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<real>0.5</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.458</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.125</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{538,326}</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0006_Ivory1.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{280,488}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.875</real>
					<key>rotation</key>
					<integer>94</integer>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<real>0.875</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.833</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.5</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{328,470}</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0011_DarkPink3.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{710,312}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.583</real>
					<key>rotation</key>
					<integer>94</integer>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<real>0.583</real>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.542</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.208</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{672,326}</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
		<dict>
			<key>image</key>
			<string>ANG_PUZZLEREWARD__0012_BigPink.png</string>
			<key>keyframes</key>
			<array>
				<dict>
					<key>endTime</key>
					<real>2.5</real>
					<key>position</key>
					<string>{740,488}</string>
					<key>startTime</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<integer>2</integer>
					<key>rotation</key>
					<integer>94</integer>
					<key>scale</key>
					<integer>1</integer>
					<key>startTime</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>endTime</key>
					<real>1.958</real>
					<key>opacity</key>
					<integer>0</integer>
					<key>startTime</key>
					<real>1.5</real>
				</dict>
			</array>
			<key>opacity</key>
			<integer>1</integer>
			<key>position</key>
			<string>{698,468}</string>
			<key>rotation</key>
			<integer>0</integer>
			<key>scale</key>
			<real>0.0001</real>
		</dict>
	</array>
</dict>
</plist>
