<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>steps</key>
	<array>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_1.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic1</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>375</integer>
					<key>y</key>
					<integer>82</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
				<dict>
					<key>x</key>
					<integer>725</integer>
					<key>y</key>
					<integer>100</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
				<string>bubble0</string>
				<string>bubble2</string>
			</array>
		</dict>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_2.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic2</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>275</integer>
					<key>y</key>
					<integer>170</integer>
					<key>image</key>
					<string>left_arrow.png</string>
				</dict>
				<dict>
					<key>x</key>
					<integer>725</integer>
					<key>y</key>
					<integer>100</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
				<string>thoughtBubble</string>
				<string>bubble2</string>
			</array>
		</dict>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_3.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic3</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>275</integer>
					<key>y</key>
					<integer>170</integer>
					<key>image</key>
					<string>left_arrow.png</string>
				</dict>
				<dict>
					<key>x</key>
					<integer>375</integer>
					<key>y</key>
					<integer>82</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
				<dict>
					<key>x</key>
					<integer>943</integer>
					<key>y</key>
					<integer>75</integer>
					<key>image</key>
					<string>top_arrow.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
				<string>thoughtBubble</string>
				<string>bubble0</string>
				<string>lives</string>
			</array>
		</dict>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_4.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic4</string>
			<key>highlight</key>
			<array>
				<string>angelina</string>
				<string>bubble3</string>
			</array>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>895</integer>
					<key>y</key>
					<integer>86</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_5.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic5</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>523</integer>
					<key>y</key>
					<integer>150</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
				<string>bubble1</string>
			</array>
		</dict>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_6.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic6</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>605</integer>
					<key>y</key>
					<integer>645</integer>
					<key>image</key>
					<string>right_arrow.png</string>
				</dict>
				<dict>
					<key>x</key>
					<integer>664</integer>
					<key>y</key>
					<integer>605</integer>
					<key>image</key>
					<string>x.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
			</array>
		</dict>
	</array>
	<key>bubbles</key>
	<array>
		<dict>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>550</integer>
			<key>type</key>
			<integer>1</integer>
			<key>flowerType</key>
			<real>1</real>
			<key>scale</key>
			<real>1</real>
		</dict>
		<dict>
			<key>x</key>
			<integer>550</integer>
			<key>y</key>
			<integer>500</integer>
			<key>type</key>
			<integer>2</integer>
			<key>scale</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>x</key>
			<integer>750</integer>
			<key>y</key>
			<integer>540</integer>
			<key>type</key>
			<integer>1</integer>
			<key>flowerType</key>
			<integer>4</integer>
			<key>scale</key>
			<real>0.9</real>
		</dict>
		<dict>
			<key>x</key>
			<integer>920</integer>
			<key>y</key>
			<integer>560</integer>
			<key>type</key>
			<integer>3</integer>
			<key>scale</key>
			<real>0.8</real>
		</dict>
	</array>
	<key>thoughtBubble</key>
	<integer>4</integer>
	<key>lives</key>
	<integer>4</integer>
</dict>
</plist>
