<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>steps</key>
	<array>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_1~iphone.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic1</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>375</integer>
					<key>y</key>
					<integer>52</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
				<dict>
					<key>x</key>
					<integer>720</integer>
					<key>y</key>
					<integer>80</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
				<string>bubble0</string>
				<string>bubble2</string>
			</array>
		</dict>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_2~iphone.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic2</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>270</integer>
					<key>y</key>
					<integer>150</integer>
					<key>image</key>
					<string>left_arrow.png</string>
				</dict>
				<dict>
					<key>x</key>
					<integer>720</integer>
					<key>y</key>
					<integer>80</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
				<string>thoughtBubble</string>
				<string>bubble2</string>
			</array>
		</dict>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_3~iphone.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic3</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>270</integer>
					<key>y</key>
					<integer>150</integer>
					<key>image</key>
					<string>left_arrow.png</string>
				</dict>
				<dict>
					<key>x</key>
					<integer>375</integer>
					<key>y</key>
					<integer>52</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
				<dict>
					<key>x</key>
					<integer>940</integer>
					<key>y</key>
					<integer>80</integer>
					<key>image</key>
					<string>top_arrow.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
				<string>thoughtBubble</string>
				<string>bubble0</string>
				<string>lives</string>
			</array>
		</dict>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_4~iphone.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic4</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>895</integer>
					<key>y</key>
					<integer>92</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
				<string>bubble3</string>
			</array>
		</dict>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_5~iphone.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic5</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>523</integer>
					<key>y</key>
					<integer>120</integer>
					<key>image</key>
					<string>bottom_arrow.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
				<string>bubble1</string>
			</array>
		</dict>
		<dict>
			<key>textImage</key>
			<string>tutorial_txt_6~iphone.png</string>
			<key>animation</key>
			<string>Angelina_TutorialClassic6</string>
			<key>arrows</key>
			<array>
				<dict>
					<key>x</key>
					<integer>641</integer>
					<key>y</key>
					<integer>570</integer>
					<key>image</key>
					<string>right_arrow.png</string>
				</dict>
				<dict>
					<key>x</key>
					<integer>680</integer>
					<key>y</key>
					<integer>532</integer>
					<key>image</key>
					<string>x.png</string>
				</dict>
			</array>
			<key>highlight</key>
			<array>
				<string>angelina</string>
			</array>
		</dict>
	</array>
	<key>bubbles</key>
	<array>
		<dict>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>500</integer>
			<key>type</key>
			<integer>1</integer>
			<key>flowerType</key>
			<real>1</real>
			<key>scale</key>
			<real>1</real>
		</dict>
		<dict>
			<key>x</key>
			<integer>550</integer>
			<key>y</key>
			<integer>450</integer>
			<key>type</key>
			<integer>2</integer>
			<key>scale</key>
			<real>0.7</real>
		</dict>
		<dict>
			<key>x</key>
			<integer>750</integer>
			<key>y</key>
			<integer>480</integer>
			<key>type</key>
			<integer>1</integer>
			<key>flowerType</key>
			<integer>4</integer>
			<key>scale</key>
			<real>0.9</real>
		</dict>
		<dict>
			<key>x</key>
			<integer>920</integer>
			<key>y</key>
			<integer>470</integer>
			<key>type</key>
			<integer>3</integer>
			<key>scale</key>
			<real>0.8</real>
		</dict>
	</array>
	<key>thoughtBubble</key>
	<integer>4</integer>
	<key>lives</key>
	<integer>4</integer>
</dict>
</plist>
