<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>scenemetadata</key>
		<dict>
			<key>animated</key>
			<dict>
				<key>objects</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>hotspot1trigger</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>hotspot2trigger</string>
					</dict>
				</array>
			</dict>
			<key>bgColor</key>
			<string>WHITE</string>
			<key>bgSound</key>
			<dict>
				<key>filename</key>
				<string>amb_Scene_6_7_8_Sound.wav</string>
				<key>repeat</key>
				<true/>
				<key>volume</key>
				<real>0.35</real>
			</dict>
			<key>static</key>
			<dict>
				<key>background</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>name</key>
						<string>p07_bg</string>
					</dict>
				</array>
				<key>text</key>
				<dict>
					<key>en_GB</key>
					<dict>
						<key>boundingBox</key>
						<string>{{0,0},{0,0}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>interactiveTextPath</key>
						<string>$BUNDLE/scene7-en_us.plist</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>size</key>
						<integer>21</integer>
						<key>text</key>
						<string></string>
						<key>z</key>
						<integer>80</integer>
					</dict>
					<key>en_US</key>
					<dict>
						<key>boundingBox</key>
						<string>{{0,0},{0,0}}</string>
						<key>color</key>
						<string>BLACK</string>
						<key>font</key>
						<string>Hoefler Text</string>
						<key>interactiveTextPath</key>
						<string>$BUNDLE/scene7-en_us.plist</string>
						<key>linespacing</key>
						<integer>10</integer>
						<key>size</key>
						<integer>21</integer>
						<key>text</key>
						<string></string>
						<key>z</key>
						<integer>80</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>p07_bg</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string>p07_bg</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isMovie</key>
		<true/>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hotspot1</string>
		<key>source</key>
		<dict>
			<key>height</key>
			<integer>756</integer>
			<key>name_lang</key>
			<string>p07_Hotspot1</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>width</key>
			<integer>618</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>z</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>isMovie</key>
		<true/>
		<key>metadata</key>
		<dict>
			<key>activeAtStart</key>
			<false/>
			<key>isInteractive</key>
			<true/>
			<key>isVisible</key>
			<true/>
		</dict>
		<key>name</key>
		<string>hotspot2</string>
		<key>source</key>
		<dict>
			<key>height</key>
			<integer>330</integer>
			<key>name</key>
			<string>p07_Hotspot2</string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<integer>1</integer>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>width</key>
			<integer>850</integer>
			<key>x</key>
			<integer>53</integer>
			<key>y</key>
			<integer>213</integer>
		</dict>
		<key>z</key>
		<integer>81</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>hotspot1</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{69,88},{366,552}}</string>
		<key>name</key>
		<string>hotspot1trigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>animationTrigger</key>
		<dict>
			<key>objects</key>
			<array>
				<string>hotspot2</string>
			</array>
			<key>repeatable</key>
			<true/>
		</dict>
		<key>clickarea</key>
		<string>{{674,238},{187,321}}</string>
		<key>name</key>
		<string>hotspot2trigger</string>
		<key>source</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>rotation</key>
			<real>0</real>
			<key>scaleX</key>
			<integer>1</integer>
			<key>scaleY</key>
			<real>1</real>
			<key>transformationPointX</key>
			<integer>0</integer>
			<key>transformationPointY</key>
			<integer>0</integer>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<key>z</key>
		<integer>97</integer>
	</dict>
</array>
</plist>
